@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --dark-color: #18075e;
  --purple-color: #430ec7;
  --gray-color: #e1e1ea;
  --pink-color: #bf5197;
  --black-color: #060211;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--dark-color);
  font-family: "Poppins", sans-serif;
}

nav {
  color: var(--gray-color);
  display: flex;
  width: 100%;
  margin: 2.5% 0;
}

nav .logo {
  margin: 0 5%;
}

.logo img {
  height: 100px;
  width: 150px;
}

.nav-menu ul {
  display: flex;
  gap: 90px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: var(--gray-color);
  font-weight: 500;
}

.footer-inner-wrapper{
  border: 3px solid black;
  padding: ;
}