@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --dark-color: #18075e;
  --purple-color: #430ec7;
  --gray-color: #e1e1ea;
  --pink-color: #bf5197;
  --black-color: #060211;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--dark-color);
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
}

header .gradient {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(94, 55, 186, 1) 10%,
    rgba(24, 7, 94, 1) 70%
  );
  height: 600px;
  width: 600px;
  top: -240px;
  left: -190px;
  z-index: -99;
}

nav {
  color: var(--gray-color);
  display: flex;
  width: 100%;
  margin: 2% 0;
  align-items: center;
}

nav .logo {
  margin: 0 5%;
}

.logo .nav-logo {
  width: 160px;
}

.nav-menu ul {
  display: flex;
  gap: 90px;
  margin-top: 5px;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: var(--gray-color);
  font-weight: 500;
}

.pokemons-container {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
}

.pokemons-container .card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.card-wrapper img {
  height: 300px;
  width: 300px;
  object-fit: contain;
}

/* display site-wrapper when done with styling modal */
.site-wrapper{display: none}

.modal-inner-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  background-color: teal;
  margin: auto;
  text-align: center; 
}

.modal-inner-wrapper .img-cancel{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.modal-inner-wrapper .img-cancel img{
  width: 100%
}

.modal-inner-wrapper .img-cancel span{
  font-size: 3rem;
  font-weight: 900;
  color: red;
}

.modal-inner-wrapper .modal-info{
  display: flex;
  justify-content: space-between;
}

.modal-inner-wrapper .left, .modal-inner-wrapper .right{
  display: flex;
  flex-direction: column;
}

.modal-inner-wrapper .left{
  text-align: left;
}

.footer {
  width: 100%;
}

.footer-inner-wrapper {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  color: var(--gray-color);
  padding: 3rem 2rem;
}

.footer-inner-wrapper a {
  color: var(--gray-color);
}
